{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}Banking System{% endblock %}
{% block content %}
<h1 class="font-mono font-bold text-3xl pb-5 pt-10">Please Enter Your Fingerprint</h1>
<hr>
<div class="w-full mt-10">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="{{ forms.account_type.id_for_label }}">
                        {{ forms.account_type.label }}
                    </label>
                    {{ forms.account_type }}
                    {% if forms.account_type.errors %}
                        {% for error in forms.account_type.errors %}
                        <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="{{ forms.gender.id_for_label }}">
                        {{ forms.gender.label }}
                    </label>
                    {{ forms.gender }}
                    {% if forms.gender.errors %}
                        {% for error in forms.gender.errors %}
                            <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="{{ forms.birth_date.id_for_label }}">
                        {{ forms.birth_date.label }}
                    </label>
                    {{ forms.birth_date }}
                    {% if forms.birth_date.errors %}
                        {% for error in forms.birth_date.errors %}
                        <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="{{ forms.gender.id_for_label }}">
                        {{ forms.phone_no.label }}
                    </label>
                    {{ forms.phone_no }}
                    {% if forms.phone_no.errors %}
                        {% for error in forms.phone_no.errors %}
                            <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="{{ forms.gender.id_for_label }}">
                        {{ forms.fingerprint_images.label }}
                    </label>
                    <img {% if forms.fingerprint_images %} src="{{ forms.fingerprint_images.url }}" {% else %} alt="You have no image." {% endif %}>
                    <input type="file" name="image" accept="image/*">
                </div>
            </div>
        </div>
        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline text-center" type="submit">
                Submit
            </button>
        </div>
    </form>
</div>

{% endblock %}